#warning {
  border: 3px solid red;
  padding: 10px;
  position: relative;
  top: 15px;
  font-size: 9px;
}

#slider-container {
  transform: rotate(-90deg);
}

#temperature-container {
  position: relative;
  top: 80px;
  right: 10px;
}
