#warning {
  border: 3px solid red;
  padding: 10px;
  position: relative;
  top: 15px;
  font-size: 9px;
}

#slider-container {
  transform: rotate(-90deg);
  position: relative;
  right: 130px;
  top: 285px;
}

#slider {
  width: 400px;
  length: 30px;
}

#temperature-container {
  position: relative;
  left: 85px;
  top: -235px;
}

#desc-container {
  position: relative;
  left: 45px;
  top: 45px;
}

#descCurrent, #descTarget, #descSwitch {
  font-size: 10px;
}
#descTarget {
  position: relative;
  top: 115px;
}

#descSwitch {
  position: relative;
  top: 250px;
}

#currentTemperature {
  position: relative;
  top: 90px;
}

#temperature, #currentTemperature {
  font-size: 76px;
  color: red;
}

#raiseTemp {
  font-size: 76px;
  color: #ccc;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  transform: scale(2, 0.5);
}

#raiseButton {
  width: 0px;
  width: 0px;
  position: relative;
  left: 0px;
  top: 55px;
}

#lowerTemp {
  font-size: 76px;
  color: #ccc;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
  transform: rotate(180deg) scale(2, 0.5);
}

#lowerButton {
  width: 0px;
  height: 0px;
  position: relative;
  left: 152px;
  bottom: 50px;
}

#vacationEnable {
  position: relative;
  left: 37.5px;
  top: -70px;
  width: 0px;
  height: 0px;

  zoom: 2.5;
  -moz-transform: scale(2.5)
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ccc;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -5.5px;
}
d
input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}


/*
Sources for slider and switch
https://www.w3schools.com/howto/howto_css_switch.asp
https://codepen.io/shohagbhuiyan/pen/mPVQXK
*/
